:root{
    /* --pink: #FF00AA; */
    --pink: #64ffda;
    --lightGray: #C0E0DE;
    --white: #fff;
    --slate: #b9d3ec;
    --dark-navy: #020c1b;
    --lightest-slate: #474745;
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: static;
    /* border-bottom: 1px solid var(--pink);   */
}

.header>p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-size: 30px;
}

.header>img{
    margin-left: 30px;
    margin-top: 20px;
}

.header>Avatar{
    margin-left: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--pink);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}